@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-blur{
        text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 2px 2px 16px rgba(108,114,203,0.8), 2px 2px 16px rgba(108,114,203,0.8);

    }
}
